<!DOCTYPE html>
<html>
  <head lang="en">
    <% include partials/head %>
  </head>
  <body>
    <header class="main-header">
      <h1 class="logo-text">Benstagram</h1>
    </header>

    <main class="main-content">
      <ul class="thumbnail-list">
        <% grams.forEach((gram) => { %>%>
          <li class="thumbnail-item">
            <a href="'img/otter1.jpg" data-image-role="trigger"
                                      data-image-title="<%= gram.caption %>"
                                      data-image-url="<%= gram.images.standard_resolution.url %>">
              <img class="thumbnail-image" src="<%= gram.images.low_resolution.url %>">
            </a>
          </li>
        <%# <% }); %>

      </ul>

      <div class="detail-image-container">
        <div class="detail-image-frame" data-image-role="frame">
          <img class="detail-image" src="" alt="" data-image-role="target" />
        </div>
      </div>
    </main>

    <script src="scripts/main.js" charset="utf-8"></script>
  </body>
</html>
