<!DOCTYPE html>
<html>
  <head lang="en">
    <% include partials/head %>
  </head>
  <body>
    <header class="main-header">
      <h1 class="logo-text">Benstagram</h1>
    </header>

    <main class="main-content">
      <ul class="thumbnail-list">


      </ul>

      <div class="detail-image-container">
        <div class="detail-image-frame" data-image-role="frame">
          <img class="detail-image" src="" alt="" data-image-role="target" />
        </div>
      </div>
    </main>

    <script src="scripts/main.js" charset="utf-8"></script>
  </body>
</html>
